.content{
    width:90%;
    margin:auto;
    display:block;
}

header,section{
    box-sizing: border-box;
    max-width:100%;
    min-width:48px;
    min-height:48px;
}

main{
    margin:auto;
}

.header_logo{
    float:left;
    width:40%;
}

.header_title{
    float:right;
    width:40%;
}

.main_picture{
    width:100%;
}

.secondary_picture{
    display: flex;
    flex-wrap:wrap;
}
ul{
    list-style-type: none;
    padding:0;
    marigin:0;
    max-width:100%;
    min-width:48px;
    min-height:48px;
}

.spot_picture{
    display:inline-block;
    width:30%;
    text-align: center;
    padding-right:3%;
}

.spot_picture span{
    display:block;
}

.spot_img{
    width:100%;
}

