.content {
    width:90%;
    margin:auto;
    display: flex;
    flex-wrap:wrap;
}

header,.main_picture,.secondary_picture {
    box-sizing: border-box;
    width:100%;
    margin-top:3%;
    min-width:48px;
    min-height:48px;
}

h1 {
    font-family: serif;
    font-style: normal;
    font-size:36px;
    font-weight: bold;
    color:dimgrey;
}

h2 {
    font-family: serif;
    font-style: normal;
    font-size:28px;
    font-weight: bold;
    color:dimgrey;
}

h4 {
    font-family: serif;
    font-weight:normal;
    color:dimgrey;
}

p {
    font-family: serif;
    font-weight:normal;
}

ul {
    list-style-type: none;
    padding:0;
    marigin:0;
    max-width:100%;
    min-width:48px;
    min-height:48px;
}

/*
 *
 * Left Part
 *
 */

.left_part {
    box-sizing: border-box;
    float:left;
    width:20%;
    padding-right:3%;
    padding-top: 18%;
}

.myself {
    width:100%;
    text-align: center;
}

/*
 *
 * Right Part
 *
 */

.right_part {
    float:right;
    width:80%;
}

/*
 *
 * Header in Right Part
 *
 */

header_logo {
    float:left;
    width:30%;
}

.header_title {
    float:right;
    width:45%;
}

/*
 *
 * Main in Right Part
 *
 */

.main_picture {
    width:100%;
}

.spot_picture_1 {
    display:inline-block;
    width:30%;
    padding-right:4%;
}

.spot_picture_2 {
    display:inline-block;
    width:30%;
    padding-right:4%;
}

.spot_picture_3 {
    display:inline-block;
    width:30%;
}

.spot_img {
    width:100%;
}

.spot_picture span,p {
    display:block;
    text-align: left;
    min-width:48px;
    min-height:48px;
}

