.content{
    width:90%;
    margin:auto;
    display: flex;
    flex-wrap:wrap;
}


header,.main_picture,.secondary_picture{
    box-sizing: border-box;
    width:100%;
    margin-top:5%;
    min-width:48px;
    min-height:48px;
}

h1{
    font-family: serif;
    font-style: normal;
    font-size:36px;
    font-weight: bold;
    color:dimgrey;
}

h2{
    font-family: serif;
    font-style: normal;
    font-size:28px;
    font-weight: bold;
    color:dimgrey;
}

h4{
    font-family: serif;
    font-weight:normal;
    color:dimgrey;
}

p,a{
    font-family: serif;
    font-weight:normal;
    font-size:28px;
}

ul{
    list-style-type: none;
    padding:0;
    marigin:0;
    max-width:100%;
    min-width:48px;
    min-height:48px;
}

/*
 *
 * Left Part（change it to bottom part in phone pattern）
 *
 */

.left_part{
    box-sizing: border-box;
    order:2;
    width:100%;
}

.myself{
    width:100%;
    text-align: center;
}

/*
 *
 * Right Part
 *
 */

.right_part{
    order:1;
    width:100%;
}

/*
 *
 * Header in Right Part
 *
 */

header_logo{
    width:30%;
    float:left;
}

.header_title{
    width:60%;
    float:right;
}

/*
 *
 * Main in Right Part
 *
 */

.main_picture{
    width:100%;
}

.spot_picture_1,.spot_picture_1,.spot_picture_1{
    display:inline-block;
    width:100%;
    margin-bottom:5%;
}

.spot_img{
    width:100%;
}

.spot_picture span,p {
    display: inline;
    text-align: left;
}

